<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Patient</title>
    <link rel="stylesheet" href="../static/css/cloud1.css">
</head>
<body>
    <header>
        <div class="logo">
            HealthGuard
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Patients Activation</a></li>
                <li><a href="#">Doctors Activation</a></li>
                <li><a href="#">Patients</a></li>
                <li><a href="#">Doctors</a></li>
                <li><a href="#">Files</a></li>
                <li><a href="#">Assign Doctors</a></li>
                <li><a href="#">Doctor Request</a></li>
                <li><a href="#">Graph</a></li>
            </ul>
        </nav>
        <div class="logout">
            <button>Logout</button>
        </div>
    </header>

    <section class="assign-doctor">
        <h2>Share Patients Details to another Doctor</h2>
        <main>
            <form action="#">
                <div class="form-group">
                    <label for="patient">Select the Patient</label>
                    <select id="patient" name="patient">
                        <option value="1000">Patient ID: 1000</option>
                        <!-- Add more patient IDs here if needed -->
                    </select>
                </div>

                <div class="form-group">
                    <label for="doctor">Select the Doctor</label>
                    <select id="doctor" name="doctor">
                        <option value="D001">Doctor ID: D001 and Doctor Name: Sumit N
                        </option>
                        <option value="D002">Doctor ID: D002 and Doctor Name: Ankita Agarwal</option>
                        <option value="D003">Doctor ID: D003 and Doctor Name: John Diamond</option>
                        <!-- Add more doctor names here if needed -->
                    </select>
                </div>

                <div class="submit-btn">
                    <button type="submit">Assign Doctor</button>
                </div>
            </form>
        </main>
    
    </section>

     <!-- Footer -->
     <footer id="footer">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-about">
                    <a href="index.html"><img src="" alt="" class="img-fluid logo-footer"></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, </p>
                </div>

            </div>
            <div class="col-md-3">
                <div class="useful-link">
                    <h4>Useful Links</h4>
                    <div class="use-links">
                        <li><a href="index.html"><i class="fa-solid fa-angles-right"></i> Home</a></li>
                        <!-- <li><a href="about.html"><i class="fa-solid fa-angles-right"></i></a></li> -->
                        <li><a href="patient.html"><i class="fa-solid fa-angles-right"></i>Patient</a></li>
                        <li><a href="doctor.html"><i class="fa-solid fa-angles-right"></i> Doctor</a></li>
                        <li><a href="admin.html"><i class="fa-solid fa-angles-right"></i> ADMIN</a></li>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="social-links">
                    <h4>Follow Us</h4>
                    <div class="social-icons">
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
                    </div>
                </div>


            </div>
            <div class="col-md-3">
                <div class="address">
                    <h4>Address</h4>
                    <div class="address-links">
                        <li class="address1"><i class="fa-solid fa-location-dot"></i> Kolathur ramankulam-
                            Malappuram Dt
                            Kerala 679338</li>
                        <li><a href=""><i class="fa-solid fa-phone"></i> +91 90904500112</a></li>
                        <li><a href=""><i class="fa-solid fa-envelope"></i> mail@1234567.com</a></li>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- footer section end -->
    <!-- footer copy right section start -->
    <div id="copy-right">
        <p class="copy-right-sec">HealthGuard &copy; 2024-25</p>
    </div>
    <!-- footer copy right section end -->

    <script src="../static/js/hamburger.js"></script>
</body>
</html>
