<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Activation</title>
    <link rel="stylesheet" href="../static/css/cloud1.css">
</head>
<body>
    <header>
        <div class="logo">
            HealthGuard
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Patients Activation</a></li>
                <li><a href="#">Doctors Activation</a></li>
                <li><a href="#">Patients</a></li>
                <li><a href="#">Doctors</a></li>
                <li><a href="#">Files</a></li>
                <li><a href="#">Assign Doctors</a></li>
                <li><a href="#">Doctor Request</a></li>
                <li><a href="#">Graph</a></li>
            </ul>
        </nav>
        <div class="logout">
            <button>Logout</button>
        </div>
    </header>

    <section class="content">
        <h2>Patients Activation</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Reg. time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1000</td>
                    <td>Ram Kumar</td>
                    <td>ram.kumar@gmail.com</td>
                    <td>9962549690</td>
                    <td>Bangalore</td>
                    <td>No</td>
                    <td>2024/10/13 12:36:02</td>
                    <td>
                        <button class="approve-btn">Approve</button>
                        <button class="reject-btn">Reject</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

     <!-- Footer -->
     <footer id="footer">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-about">
                    <a href="index.html"><img src="" alt="" class="img-fluid logo-footer"></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, </p>
                </div>

            </div>
            <div class="col-md-3">
                <div class="useful-link">
                    <h4>Useful Links</h4>
                    <div class="use-links">
                        <li><a href="index.html"><i class="fa-solid fa-angles-right"></i> Home</a></li>
                        <!-- <li><a href="about.html"><i class="fa-solid fa-angles-right"></i></a></li> -->
                        <li><a href="patient.html"><i class="fa-solid fa-angles-right"></i>Patient</a></li>
                        <li><a href="doctor.html"><i class="fa-solid fa-angles-right"></i> Doctor</a></li>
                        <li><a href="admin.html"><i class="fa-solid fa-angles-right"></i> ADMIN</a></li>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="social-links">
                    <h4>Follow Us</h4>
                    <div class="social-icons">
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
                    </div>
                </div>


            </div>
            <div class="col-md-3">
                <div class="address">
                    <h4>Address</h4>
                    <div class="address-links">
                        <li class="address1"><i class="fa-solid fa-location-dot"></i> Kolathur ramankulam-
                            Malappuram Dt
                            Kerala 679338</li>
                        <li><a href=""><i class="fa-solid fa-phone"></i> +91 90904500112</a></li>
                        <li><a href=""><i class="fa-solid fa-envelope"></i> mail@1234567.com</a></li>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- footer section end -->
    <!-- footer copy right section start -->
    <div id="copy-right">
        <p class="copy-right-sec">HealthGuard &copy; 2024-25</p>
    </div>
    <!-- footer copy right section end -->

    <script src="../static/js/hamburger.js"></script>
</body>
</html>
