<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Guard | Patient Medical Data</title>
    <link rel="stylesheet" href="../static/css/patient.css">
</head>

<body>
    <div class="header">
        <div class="logo">
            <a href="/">HealthGuard</a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/patient_home">Home</a></li>
                <li><a href="/patient-data">Upload Data</a></li>
                <li><a href="/patient-medical-data">Medical Data</a></li>
                <li><a href="/patient-personal-data">Contact Data</a></li>
            </ul>
        </nav>
        <div class="logout">
            <a href="/logout"><a href="/logout"><button>Logout</button></a></a>
        </div>
    </div>

    <!--=== Content Part ===-->
    <section class="patient-data">
        <div class="container-p">
            <h2>PATIENT MEDICAL DATA</h2>
            <table>
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Age</th>
                        <th>Blood Group</th>
                        <th>Gender</th>
                        <th>Blood Pressure</th>
                        <th>Pulse Rate</th>
                        <th>Body Temperature</th>
                        <th>Current Medications</th>
                        <th>Upload Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% if documents %}
                        {% for doc in documents %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ user.get('age', 'N/A') }}</td>
                                <td>{{ user.get('bloodgroup', 'N/A') }}</td>
                                <td>{{ user.get('gender', 'N/A') }}</td>
                                <td>{{ doc.get('blood_pressure', 'N/A') }}</td>
                                <td>{{ doc.get('pulse_rate', 'N/A') }}</td>
                                <td>{{ doc.get('body_temp', 'N/A') }}</td>
                                <td>{{ doc.get('current_medication', 'N/A') }}</td>
                                <td>{{ doc.get('uploaded_at', 'N/A') }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="11">No medical data available.</td>
                    </tr>
                    {% endif %}
                </tbody>
                
            </table>
        </div>
    </section>

    <!--=== End Content Part ===-->

    <footer id="footer">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-about">
                    <a href="index.html"><img src="" alt="" class="img-fluid logo-footer"></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="useful-link">
                    <h4>Useful Links</h4>
                    <div class="use-links">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="gallery.html">Patient</a></li>
                        <li><a href="contact.html">Doctor</a></li>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="social-links">
                    <h4>Follow Us</h4>
                    <div class="social-icons">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">LinkedIn</a></li>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="address">
                    <h4>Address</h4>
                    <div class="address-links">
                        <li class="address1">Kolathur Ramankulam, Malappuram Dt, Kerala 679338</li>
                        <li><a href="tel:+9190904500112">+91 90904500112</a></li>
                        <li><a href="mailto:mail@1234567.com">mail@1234567.com</a></li>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- footer copy right section -->
    <div id="copy-right">
        <p class="copy-right-sec">HealthGuard &copy; 2024-25</p>
    </div>
    <!-- footer copy right section end -->
</body>

</html>
