<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Health Guard | Registration </title>
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
    <link rel="stylesheet" href="../static/css/patient.css">

</head>

<body>
    <div class="header">
        <div class="navbar">
            <a href="/" class="logo">HealthGuard</a>
        </div>
    </div>

    <!--=== Content Part ===-->
    <section class="patient-data">
        <!-- <img class="home-icon-p" src="../static/images/patient-home.jpg" alt=""> -->
        <div class="container-p">
            <h2>PATIENT MEDICAL DATA</h2>
            <table>
                <tr>
                    <th style="width: 1rem;">Sl No.</th>
                    <th style="width: 2rem;">Age</th>
                    <th style="width: 7rem;">Blood Group</th>
                    <th style="width: 3rem;">Gender</th>
                    <th style="width: 9rem;">Blood Pressure</th>
                    <th style="width: 7rem;">Pulse Rate</th>
                    <th style="width: 5rem;">Body Temperature</th>
                    <th style="width: 16rem;">Current Medications</th>
                    <th style="width: 11rem;">Data File</th>
                    <th style="width: 11rem;">Secret Key</th>
                    <th style="width: 10rem;">Action</th>
                </tr>
                <tr>
                    <th>01</th>
                    <th>45</th>
                    <th>B+</th>
                    <th>Female</th>
                    <th>80</th>
                    <th>72</th>
                    <th>37</th>
                    <th>NA</th>
                    <th>Data File</th>
                    <th>Secret Key</th>
                    <th>Action</th>
                </tr>
            </table>
            
        </div>
    </section>

    <!--/container-->
    <!--=== End Content Part ===-->

    <footer id="footer">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-about">
                    <a href="index.html"><img src="" alt="" class="img-fluid logo-footer"></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, </p>
                </div>

            </div>
            <div class="col-md-3">
                <div class="useful-link">
                    <h4>Useful Links</h4>
                    <div class="use-links">
                        <li><a href="index.html"><i class="fa-solid fa-angles-right"></i> Home</a></li>
                        <li><a href="about.html"><i class="fa-solid fa-angles-right"></i> About Us</a></li>
                        <li><a href="gallery.html"><i class="fa-solid fa-angles-right"></i>Patient</a></li>
                        <li><a href="contact.html"><i class="fa-solid fa-angles-right"></i> Doctor</a></li>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="social-links">
                    <h4>Follow Us</h4>
                    <div class="social-icons">
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
                    </div>
                </div>


            </div>
            <div class="col-md-3">
                <div class="address">
                    <h4>Address</h4>
                    <div class="address-links">
                        <li class="address1"><i class="fa-solid fa-location-dot"></i> Kolathur ramankulam-
                            Malappuram Dt
                            Kerala 679338</li>
                        <li><a href=""><i class="fa-solid fa-phone"></i> +91 90904500112</a></li>
                        <li><a href=""><i class="fa-solid fa-envelope"></i> mail@1234567.com</a></li>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- footer section end -->


    <!-- footer copy right section start -->
    <div id="copy-right">
        <p class="copy-right-sec">HealthGuard &copy; 2024-25</p>
    </div>
    <!-- footer copy right section end -->
</body>

</html>