<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Data</title>
    <link rel="stylesheet" href="../static/css/patient.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="/">HealthGuard</a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="./patient_home.html">Home</a></li>
                <li><a href="./patient-data.html">Upload Data</a></li>
                <li><a href="./patient-medical-data.html">Medical Data</a></li>
                <li><a href="./patient-personal-data.html">Contact Data</a></li>
            </ul>
        </nav>
    </header>
    <div class="logout">
        <button>Logout</button>
    </div>
    <h1>Lorem ipsum dolor sit amet.</h1>
</body>

</html>